.myBtn {
    padding: 5px 15px;
    color: #83677B;
    font-size: 14px;
    background: rgba(46,21,27, 0.4);
    border: 2px solid rgb(35, 25, 32);
    border-radius: 10px;
    cursor: pointer;
}